@{
    ViewData["Title"] = "Customer Report";
    Layout = "~/views/Shared/_SuperAdminLayout.cshtml";
    var stations = ViewBag.Stations;
}
<head>
    <link rel="stylesheet" href="~/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/css/demo.css" />
</head>
<body>
<h1>Customer Report</h1>
<form action="@Url.Action("GenerateCustomerReport", "Reports")" method="post" class="w-50">
    <div class="form-group mb-4">
        <div class="form-field d-flex align-items-center mb-0">
            <label>Station</label>
            <select name="staID" id="staID" class="form-control form-control-sm">
                <option value="-1" selected>All</option>
                @foreach (var station in stations)
            {
                <option value="@station.staID">@station.staDistrict</option>
            }
            </select>
        </div>
    </div><br>
    <button type="submit" value="Generate Report" class="btn btn-primary">Generate Report</button>
</form>
</body>