@{
    ViewData["Title"] = "Supply Request Report";
    Layout = "~/views/Shared/_SuperAdminLayout.cshtml";
    var stations = ViewBag.Stations;
}
<head>
    <link rel="stylesheet" href="~/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/css/demo.css" />
</head>
<body>
<h1>Fuel Supply Request Report</h1>
<form action="@Url.Action("GenerateFualDistributionReport", "Reports")" method="post">
    <div>
        <label>Station</label>
        <select name="staID" id="staID">
            <option value="-1" selected>All</option>
            @foreach (var station in stations)
            {
                    <option value="@station.staID">@station.staDistrict</option>
            }
        </select>
    </div><br>
    <div>
        <label>Accepted Status</label>
        <select name="isAccepted" id="isAccepted">
            <option value="-1" selected>All</option>
            <option value="0" selected>No</option>
            <option value="1" selected>Yes</option>
        </select>
    </div><br>
    <button type="submit" value="Generate Report">Generate Report</button>
</form>
</body>