@{
    ViewData["Title"] = "Super Admin";
}

<h1>Super Admin</h1>
<button><a asp-controller="SuperAdminDashboard" asp-action="ShowManagers">Managers</a></button>
<button><a asp-controller="SuperAdminDashboard" asp-action="ShowDrivers">Drivers</a></button>
<button><a asp-controller="SuperAdminDashboard" asp-action="ShowCustomers">Customers</a></button>