@{
    ViewData["Title"] = "Super Admin";
    Layout = "~/views/Shared/_SuperAdminLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/css/demo.css" />
</head>
<body>
<h1>Welcome to FuelIn!</h1>
<h4>Master Data</h4>
<a asp-controller="SuperAdminDashboard" asp-action="ShowManagers" class="btn btn-primary">Managers</a>
<a asp-controller="SuperAdminDashboard" asp-action="ShowDrivers" class="btn btn-primary">Drivers</a>
<a asp-controller="SuperAdminDashboard" asp-action="ShowCustomers" class="btn btn-primary">Customers</a>
<a asp-controller="SuperAdminDashboard" asp-action="ShowStations" class="btn btn-primary">Stations</a>
<br><br>
<h4>Supply Requests</h4>
<a asp-controller="SuperAdminDashboard" asp-action="ShowSupplyRequests" class="btn btn-primary">Supply Requests</a>
<br><br>
<h4>Reports</h4>
<a asp-controller="SuperAdminDashboard" asp-action="ShowCustomerReport" class="btn btn-primary">Customer Report</a>
<a asp-controller="SuperAdminDashboard" asp-action="ShowFualDistributionReport" class="btn btn-primary">Fuel Distribution Report</a>
</body>